form {

    .input_label{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: toRem(30) toRem(0);



        label {
            position: absolute;
            left: toRem(20);
            top: toRem(-10);
            background-color:$background;
            padding:0 toRem(10);
        }

        input, select{
            height: toRem(30);
            // width: toRem(250);
        }

        input, select, textarea {
          
          
            padding: toRem(10) toRem(20);
            background-color:$background;
            border:1px solid $blanc;
            border-radius: toRem(5);
            font-size:toRem(18);
            color: $gris;
            font-family: $futura;
        }

        select{
            height: toRem(50);
            width: fit-content;
            padding: toRem(10);
        }

        textarea {
            height: 100%;
        }



    }
}

form {
    display: flex;
    flex-direction: column;
    margin-right: toRem(30);
    height: 100%;

    .form-haut {
        display: flex;
        height: 100%;

        .form-gauche {
            width: 40%;
            padding-right: toRem(30);
        }

        .form-droite {
            width: 60%;
        }
    }

    .form-bas {
    width: 100%;
    display: flex;
    justify-content: flex-end;
        input[type="submit"] {
            background-color:$noir;
            padding: toRem(10);
            color: $blanc;
            font-size: toRem(18);
            border-radius: toRem(6);
        }

    }
}
