@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  src: url("../fonts/futura/Futura-Bold.woff2") format("woff2");
  font-family: "Futura";
  font-weight: bold;
  font-size: toRem(30);
}

@font-face {
  src: url("../fonts/futura/Futura-Book.woff2") format("woff2");
  font-family: "Futura";
  font-weight: bold;
  font-size: normal;
}

.header {
  position: relative;
  height: 5rem;
}

.header_contain {
  width: calc( 100% - 290px);
  padding: 2rem 2rem 1.25rem 2rem;
  margin: 0 0 1.875rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #464646;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.header_contain .search_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_contain .search_header .icone_search {
  background-color: #272727;
  height: 3.125rem;
  width: 2.5rem;
  padding: 0 0.625rem;
  border-radius: 0.625rem 0 0 0.625rem;
}

.header_contain .search_header [type="text"] {
  height: 2.3125rem;
  background-color: #272727;
  border: 0;
  color: #FFFFFF;
  width: calc( 100% - 2.3rem);
  border-radius: 0 0.625rem 0.625rem 0;
  font-size: 1rem;
  padding: 1.5625rem 1.5625rem 1.5625rem 0.625rem;
}

.contain_profile {
  background-color: #272727;
  border-radius: 3.125rem;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4375rem 0.625rem;
}

.profile p {
  width: 2.3125rem;
  height: 2.3125rem;
  border-radius: 50%;
  background-color: #AF77FF;
  margin: 0;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.625rem;
}

.profil_info {
  position: absolute;
  right: 2rem;
  padding: 0.625rem 1.25rem 1.25rem 1.25rem;
  background-color: #323232;
  border-radius: 0.625rem;
  border: 0.0625rem solid #FFFFFF;
}

.profil_info .icone_menu {
  position: relative;
  top: 0.4375rem;
}

.button {
  display: none;
}

@media screen and (min-width: 901px) {
  .header_contain {
    width: calc( 100% - 280px);
    padding: 2.1875rem 3.125rem 1.25rem 3.125rem;
    margin: 0 0 1.875rem 0;
  }
}

@media screen and (max-width: 701px) {
  .line {
    width: 100%;
    height: 0;
    border: 0.0625rem #272727 solid;
    display: inline-block;
    margin: 0;
  }
  .button {
    width: 2.1875rem;
    height: 1.5625rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 0;
    z-index: 1;
  }
  .header_contain {
    width: 100%;
    left: 0;
  }
}
/*# sourceMappingURL=header.css.map */