/* ----------------------------- *
 *             FONTS             *
 * ----------------------------- */
@font-face {
  font-family: 'Poppins';
  src: url("fonts/poppins-regular.woff2") format("woff2"), url("fonts/poppins-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("fonts/poppins-bold.woff2") format("woff2"), url("fonts/poppins-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, a, img, footer, header,
menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #464646;
  font-family: "Futura";
  color: #ffffff;
  padding: 2.8125rem 1.625rem;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
  font-family: "Lato";
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-family: "Lato";
  font-weight: bold;
  margin-bottom: 1.25rem;
  color: #AF77FF;
}

h3 {
  font-size: 1.25rem;
  color: #AF77FF;
  font-weight: bold;
}

p {
  line-height: 140%;
  margin: 0.9375rem 0;
}

a {
  color: #AF77FF;
}

li {
  margin-bottom: 0.5rem;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #464646;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 800px) {
  header {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 2.8125rem;
  }
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}

@media screen and (min-width: 800px) {
  header .logo {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 0px;
  }
}

header .logo img {
  width: 20%;
}

@media screen and (min-width: 800px) {
  header .logo img {
    width: 90%;
  }
}

header .titre {
  margin-top: 1.25rem;
}

@media screen and (min-width: 600px) {
  header .titre {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  header .titre {
    width: 60%;
  }
}

.sommaire {
  display: none;
}

@media screen and (min-width: 800px) {
  .sommaire {
    display: block;
    margin-top: 1.5rem;
    position: fixed;
    width: 20%;
    left: 3vw;
  }
}

.sommaire a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.125rem;
}

.sommaire li {
  margin-bottom: 0.625rem;
}

.sommaire h2 {
  border-bottom: #AF77FF solid 6px;
  width: 4.375rem;
  color: #ffffff;
  padding-bottom: 0.625rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 800px) {
  .contenu {
    width: 75%;
  }
}

.contenu div {
  padding: 1.5rem 0 0 0;
}

#scroll {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #AF77FF;
  text-indent: -9999px;
  display: none;
  border-radius: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#scroll:hover {
  background-color: #272727;
}

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */